.sidebar {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
    background-color: transparent;
    background-image: url('./img/sidebar_bg2.png');
    background-size: cover;
}
.el-submenu>.el-submenu__title>span{
    color: #333;
}
.el-submenu>.el-submenu__title>.sidebar-i{
    color: #666666;
}
.el-menu-item>span{
    color: #333;
}
.el-menu-item>.sidebar-i{
    color: #666666;
}
.el-menu-item i {
    color: #666666;
}
.is-active>.el-submenu__title>.sidebar-i{
    color: #fff; 
}
.is-active>.el-submenu__title>.sidebar-one{
    color: #fff; 
}
.is-active>.el-submenu__title>.el-submenu__icon-arrow{
    color: #fff; 
}
.is-active>.sidebar-i{
    color: #fff; 
}
.is-active>.sidebar-one{
    color: #fff;
}
.sidebar-show{
    background: #fff;
}
/* .el-tooltip__popper.is-dark {
    color: #fff;
} */
.el-submenu.is-active{
    box-shadow:inset 0px 50px 0px -2px #D94242;
}
.el-menu-item.is-active{
    /* box-shadow:inset 5px 0px 0px -2px #D94242;  */
    box-shadow:inset 0px 50px 0px -2px #D94242;
}


