/* 日常办公 */
.skinItem1{
    background-color: #60BCD6;
}
.skinItem2{
    background-color: #A7C975;
}
.skinItem3{
    background-color: #EDA74F;
}
.skinItem4{
    background-color: #78A584;
}
.skinItem5{
    background-color: #63A9DD;
}
.skinItem6{
    background-color: #DE6264;
}
.skinItem7{
    background-color: #60BCD6;
}
.skinItem8{
    background-color: #A7C975;
}